.post-row.highlight-op,
.post-row.highlight-fw {
	.post-header:after {
		background: url("http://i.imgur.com/h1VrFLI.png");
		content: "";
		height: 34px;
		opacity: 0.1;
		position: absolute;
		width: 300px;
	}
}
