
.highlight-fw {
	.box {
		/*position: relative;*/
		.content {
			border-right: 2px solid #ffd743;
		}
		.time {
		 	border-right: 2px solid #ffd743;
		}
		.post-signature{
			 border-right: 2px solid #ffd743;
		}
		
		/*
		.post-header {
			&:before {
				background: url("https://i.imgur.com/wZR8p9i.png");
				content: "";
				height: 34px;
				opacity: 0.3;
				position: absolute;
				top: 0;
				left: 0;
				width: 300px;
			}
			> div:first-child {
				opacity: 0.9;
			}
		}
		*/
			
	}
}

.highlight-op {
	.box {
		/* position: relative; */
		.content {
                        border-right: 2px solid #ff867a;
                }
                .time {
                        border-right: 2px solid #ff867a;
                }
                .post-signature{
                         border-right: 2px solid #ff867a;
                }
		
		/*
		.post-header {
			&:before {
				background: url("https://i.imgur.com/h1VrFLI.png");
				content: "";
				height: 34px;
				opacity: 0.1;
				position: absolute;
				top: 0;
				left: 0;
				width: 300px;
			}
			> div:first-child {
				opacity: 0.9;
			}
		}
		*/
			
	}
}

